@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
}
body{ overflow-x: hidden; }

a:hover{ text-decoration: none; }

li{ text-decoration: none; list-style: none; }

.feat-col h2 , .ser-div h2{
	font-size: 1.6rem;
	line-height: 1.1;
	word-spacing: 4px;
	font-weight: bold;
	margin: 20px 0px 15px 0px;
}

/*******************************header part css************************************/

.header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url('../images/pic3.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	clip-path: polygon(100% 0%, 100% 85%, 50% 100%, 0% 85%, 0 0);
}
.header:before{
	content: '';
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	opacity: 0.5;
	z-index: -1;
	background: linear-gradient(to right , #1e5799 0%, #3ccdbb 0%, #16c6f9 100%);
}
.navbar:before{
	content: '';
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0.5;
	z-index: -1;
	background: rgba(171,205,239,0.1);
}
.header-section{
	width: 100%;
	height: inherit;
	color: white;
	text-align: center;
	position: relative;
}
.center-div{
	position: absolute;
	width: 100%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.center-div h1{
	font-weight: bold;
	font-size: 4rem;
}
.center-div p{
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
	font-size: 1.3rem;
	padding: 0px 0px 20px 0px;
}
.header-buttons a{
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 100px;
	margin: 0px 5px;
	padding: 10px 25px;
	text-align: center;
	color: #fff;
}
.header-buttons a:hover{
	background: #fff;
	color: rgba(0,168,255,1);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

/*******************************header part css************************************/

/*******************************features part css************************************/

.features{
	text-align: center;
	width: 100%;
	height: auto;
	margin: 100px 0;
	cursor: pointer;
}
.feat-col{
	background: #fff;
	border: medium none;
	transition: 0.6s ease;
	padding: 20px 30px;
}
.feat-col h2{
	font-size: 1.6rem;
	line-height: 1.1;
	word-spacing: 4px;
	font-weight: bold;
	margin: 20px 0px 15px 0px;
}
.feat-col:hover{
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
	transform: translateY(-20px);
}
.feat-col:hover h2, .feat-col:hover i{
	color: #50d1c8;
}
.feat-col:hover p{
	line-height: 1.6;
}


/*******************************features part css************************************/

/*******************************service part css************************************/

.services{
	background: #e6e3e3;
	margin-bottom: 50px;
	padding: 30px 0px; 
}
.heading{
	margin-bottom: 30px;
}
.heading h1{
	font-size: 2.5rem;
	font-weight: 500;
	text-transform: uppercase;
}
.names h1{
	font-weight: bold;
	font-size: 0.9rem;
	text-transform: uppercase;
	color: #2e2e2e;
}
.ser-icons{
	display: flex;
	justify-content: center;
	align-items: center;
}
.progress{
	height: 0.8rem!important;
	margin-bottom: 25px!important;
	background: #fafafa!important;
}
.ser-icons i{
	color: #2fccd0;
}

/*******************************service part css************************************/


/*******************************project-work part css************************************/

.project-work{
	margin: 100px 0px;
}
.project-work h1{
	font-size: 2rem;
	text-align: center;
}

/*******************************project-work part css************************************/


/*********************************pricing part css**************************************/

.pricing{
	width: 100%;
	height: 100vh;
	padding: 50px;
	position: relative;
}
.pricing:before{
	content: '';
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
	position: absolute;
	background: linear-gradient(160deg, #16c6f9 55%, #fff 0%);
}
.p-heading{
	margin-bottom: 50px;
}
.line-through{
	text-decoration: line-through;
	font-size: 25px;
}
.money{
	font-size: 45px;
	line-height: 1.1;
	color: #858585;
}
.card{
	transition: 0.4s ease;
	cursor: pointer;
}
.card-header{
	font-size: 1.9rem;
	font-weight: bold;
	background: #fff!important;
	padding: 10px 0px!important;
}
.card-body{
	padding: 30px 0px!important;
}
.card-body li{
	line-height: 1.6;
	margin: 10px 0px;
	font-weight: 400;
	color: #606060;
	font-size: 15px;
}
.card-footer{
	background: #fff!important;
	padding: 30px 0px!important;
}
.card-footer a{
	text-decoration: none;
	border: 1px solid #50d1c0;
	border-radius: 100px;
	margin: 0px 5px;
	padding: 10px 25px;
	text-align: center;
	color: #50d1c0;
}
.card:hover .card-footer a{
	background: #50d1c0;
	color: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.card:hover{
	transform: translateY(-20px);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.card:hover .card-header, .card:hover .money{
	color: #50d1c0;
}
.card-second{
	transform: translateY(-20px);
}

/*********************************pricing part css**************************************/
